<?php
$product = $this->getProduct();

?>
<b><?= __('Created Date') ?>: </b><?php echo date("d.m.Y h:i:s", strtotime($product->getCreatedAt()));?>
<br>
<b><?= __('Updated Date') ?>: </b><?php echo date("d.m.Y h:i:s", strtotime($product->getUpdatedAt()));?>