<?php $_mappingData = $block->getShippingCostMappingData(); ?>

<fieldset class="fieldset admin__fieldset " id="integration_fieldset_connection1">
    <legend class="admin__legend legend"><span><?php echo __('Shipping cost matrix'); ?></span></legend><br>
    <div class="messages"></div>

    <div class="admin__field field field-custom div " data-ui-id="integration-edit-tabs-configuration-0-fieldset-element-form-field-custom-div">

        <div class="admin__field-control control">

            <table cellspacing="0" class="form-list">
                <colgroup class="value"></colgroup>
                <tbody>
                <tr id="row_orderimport_mapping_shipping-method">
                    <td class="value">

                        <div class="design_theme_ua_regexp" id="grid_mapping">
                            <div class="admin__control-table-wrapper">
                                <table class="admin__control-table" id="orderimport_mapping_shipping-method">
                                    <thead>
                                    <tr>
                                        <th><?php echo __('Shipping method'); ?></th>
                                        <th><?php echo __('Weight below'); ?></th>
                                        <th><?php echo __('Cost'); ?></th>
                                        <th class="col-actions" colspan="1">Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4" class="col-actions-add">
                                            <button id="addToEndBtn_mappingg" class="action-add" title="Add" type="button">
                                                <span>Add</span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tfoot>
                                    <tbody id="addRow_mappingg">
                                    <?php
                                    if(!empty($_mappingData)){
                                        $mappinghtml ='';
                                        foreach($_mappingData as $id=>$data){
                                            $mappinghtml  .='<tr id="'.$id.'">';
                                            $mappinghtml  .='<td>'
                                                .'<select name="ct_cost_matrix['.$id.'][shipping_method]" id="'.$id.'_shipping_method" class="required-entry" title="" >'.$block->getShippingMethodOptionHtml($data['shipping_method']).'</select>'
                                                .'</td>';
                                            $mappinghtml  .='<td>'
                                                .'<input type="text" size="20" id="'.$id.'_weight_below" name="ct_cost_matrix['.$id.'][weight_below]" value="'.$data['weight_below'].'"  class="input-text required-entry"/>'
                                                .'</td>';
                                            $mappinghtml  .='<td>'
                                                .'<input type="text" size="20" id="'.$id.'_cost" name="ct_cost_matrix['.$id.'][cost]" value="'.$data['cost'].'"  class="input-text required-entry"/>'
                                                .'</td>';
                                            $mappinghtml  .='<td class="col-actions">'
                                                .'<button onclick="arrayRow_mapping.del('.$id.')" class="action-delete" type="button"><span>Delete</span></button>'
                                                .'</td>';
                                            $mappinghtml  .='</tr>';
                                        }
                                        echo $mappinghtml;
                                    }
                                    ?>

                                    </tbody>
                                </table>
                            </div>

                            <script>
                                require([
                                    'mage/template',
                                    'prototype'
                                ], function (mageTemplate) {
                                    // create row creator
                                    window.arrayRow_mapping = {
                                        // define row prototypeJS template
                                        template: mageTemplate(
                                            '<tr id="<%- _id %>">'
                                            + '<td>'
                                            + '<select name="ct_cost_matrix[<%- _id %>][shipping_method]" id="<%- _id %>_shipping_method" class="required-entry" title="" ><?php echo $block->getShippingMethodOptionHtml(); ?></select>'
                                            + '<\/td>'
                                            + '<td>'
                                            + '<input type="text" size="20" id="<%- _id %>_weight_below" name="ct_cost_matrix[<%- _id %>][weight_below]" value=""  class="input-text required-entry"/>'
                                            + '<\/td>'
                                            + '<td>'
                                            + '<input type="text" size="20" id="<%- _id %>_cost" name="ct_cost_matrix[<%- _id %>][cost]" value=""  class="input-text required-entry"/>'
                                            + '<\/td>'
                                            + '<td class="col-actions"><button onclick="arrayRow_mapping.del(\'<%- _id %>\')" class="action-delete" type="button"><span>Delete<\/span><\/button><\/td>'
                                            +'<\/tr>'
                                        ),
                                        add: function(rowData, insertAfterId) {
                                            // generate default template data
                                            var templateValues;
                                            // Prepare template values
                                            if (rowData) {
                                                templateValues = rowData;
                                            } else {
                                                var d = new Date();
                                                templateValues = {
                                                    erp_method: '',
                                                    'option_extra_attrs': {},
                                                    magento_method: '',
                                                    'option_extra_attrs': {},
                                                    _id: '_' + d.getTime() + '_' + d.getMilliseconds()
                                                };
                                            }
                                            // Insert new row after specified row or at the bottom
                                            if (insertAfterId) {
                                                Element.insert($(insertAfterId), {after: this.template(templateValues)});
                                            } else {
                                                Element.insert($('addRow_mappingg'), {bottom: this.template(templateValues)});
                                            }
                                            // Fill controls with data
                                            if (rowData) {
                                                var rowInputElementNames = Object.keys(rowData.column_values);
                                                for (var i = 0; i < rowInputElementNames.length; i++) {
                                                    if ($(rowInputElementNames[i])) {
                                                        $(rowInputElementNames[i]).setValue(rowData.column_values[rowInputElementNames[i]]);
                                                    }
                                                }
                                            }
                                            // Add event for {addAfterBtn} button
                                        },
                                        del: function(rowId) {
                                            $(rowId).remove();
                                        }
                                    }
                                    // bind add action to "Add" button in last row
                                    Event.observe('addToEndBtn_mappingg', 'click', arrayRow_mapping.add.bind(arrayRow_mapping, false, false));
                                });
                            </script>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</fieldset>