<div class="products-section-title">
    <span class="title"><?php echo __('Add new history');?></span>
</div>
<textarea name="new_history" id="new_history" maxlength="250" style="width: 50%"></textarea>
<p>&nbsp;</p>
<hr>