<div class="gopay-inline-payment">
    <div class="gopay-inline-logo">
        <h4><?php echo __('Moment...'); ?></h4>
    </div>
    <div class="gopay-inline-content">
        <form action="<?php echo $this->getGatewayUrl(); ?>" method="post" id="gopay-payment-button" class="no-display"><button name="pay" id="pay" type="submit">Zaplatit</button></form>
    </div>
</div>

<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function ($) {
        $(document).ready(function ($) {
            setTimeout(function () {
                $('#pay').click();
            }, 1000);
        });
    });
</script>
