<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
?>
<div class="toolbar-sorter sorter">
    <?php /* <label class="sorter-label" for="sorter"><?= $block->escapeHtml(__('Sort By')) ?></label> */ ?>
    <?php /* <select id="sorter" data-role="sorter" class="sorter-options">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order) :?>
            <option value="<?= $block->escapeHtmlAttr($_key) ?>"
                <?php if ($block->isOrderCurrent($_key)) :?>
                    selected="selected"
                <?php endif; ?>
                >
                <?= $block->escapeHtml(__($_order)) ?>
            </option>
        <?php endforeach; ?>
    </select> */ ?>
    <?php /* <div id="sorter1" data-role="sorter" class="product data items"
         data-mage-init='{"mage/tabs": {"openedState": "active", "animate": {"duration": 100}, "disabledState": "disabled"}}'>
        <div class="item title" data-role="collapsible">
            <a class="switch" data-toggle="trigger" href="#tab-position" data-sorter-value="position">Pozícia</a>
        </div>
<!--        <div id="tab-cars" class="item content" data-role="content">Cars content</div>-->

        <div class="item title" data-role="collapsible">
            <a class="switch" data-toggle="trigger" href="#tab-name" data-sorter-value="name">Meno</a>
        </div>
<!--        <div id="tab-movies" class="item content" data-role="content">Movies content</div>-->

        <div class="item title active" data-role="collapsible">
            <a class="switch" data-toggle="trigger" href="#tab-price" data-sorter-value="price">Cena</a>
        </div>
<!--        <div id="tab-music" class="item content" data-role="content">Music Content</div>-->
    </div> */ ?>

    <div id="sorter1" data-role="sorter" class="product data items 2"
         data-mage-init='{"mage/tabs": {"openedState": "active", "active": -1, "animate": {"duration": 100}, "disabledState": "disabled"}}'>
        <?php foreach ($block->getAvailableOrders() as $_key => $_order) :?>
            <div data-role="collapsible"
                <?php if ($block->isOrderCurrent($_key)) :?>
                    class="item title active"
                <?php else :?>
                    class="item title"
                <?php endif; ?>
            >
                <a class="switch" data-toggle="trigger" href="#tab-<?= $block->escapeHtmlAttr($_key) ?>" data-sorter-value="<?= $block->escapeHtmlAttr($_key) ?>"><?= $block->escapeHtml(__($_order)) ?></a>
            </div>
        <?php endforeach; ?>
    </div>

    <?php if ($block->getCurrentDirection() == 'desc') :?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Ascending Direction')) ?>"
           href="#"
           class="action sorter-action sort-desc"
           data-role="direction-switcher"
           data-value="asc">
            <span><?= $block->escapeHtml(__('Set Ascending Direction')) ?></span>
        </a>
    <?php else :?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Descending Direction')) ?>"
           href="#"
           class="action sorter-action sort-asc"
           data-role="direction-switcher"
           data-value="desc">
            <span><?= $block->escapeHtml(__('Set Descending Direction')) ?></span>
        </a>
    <?php endif; ?>
</div>
