<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Wame\Icodic\Block\Widget\Company $block */
?>
<div class="field company <?= $block->isRequired() ? 'required' : '' ?>">
    <label for="company" class="label">
        <span>
            <?= $block->escapeHtml(__('Company')) ?>
        </span>
    </label>
    <div class="control">
        <?php
        $_validationClass = $block->escapeHtmlAttr(
            $this->helper(\Magento\Customer\Helper\Address::class)
                ->getAttributeValidationClass('company')
        );
        ?>
        <input type="text"
               name="company"
               id="company"
               value="<?= $block->escapeHtmlAttr($block->getCompany()) ?>"
               title="<?= $block->escapeHtmlAttr(__('Company')) ?>"
               class="input-text <?= $_validationClass ?: '' ?>"
        >
    </div>

    <?php
    $ico_value = "";
    $dic_value = "";
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->get('Magento\Customer\Model\Session');
    if($customerSession->isLoggedIn()) {
        $ico_value = $customerSession->getCustomer()->getData('ico_wame');
        $dic_value = $customerSession->getCustomer()->getData('dic_wame');
    };
    ?>

    <br>
    <label for="ico" class="label"><span><?= $block->escapeHtml(__('IČO')) ?></span></label><div class="control">
        <input type="text"
               name="ico"
               id="ico"
               value="<?= $ico_value ?>"
               class="input-text <?= $_validationClass ?: '' ?>"
        >
    </div>

    <br>
    <label for="dic" class="label"><span><?= $block->escapeHtml(__('DIČ')) ?></span></label><div class="control">
        <input type="text"
               name="dic"
               id="dic"
               value="<?= $dic_value ?>"
               class="input-text <?= $_validationClass ?: '' ?>"
        >
    </div><br>
</div>
