.modes {
    display: none;
}
.action.sorter-action {
    display: none;
}
.toolbar-sorter {
    .item.title {
        padding: 10px !important;
        border-bottom: none !important;
        background: #f1f1f17a !important;
        margin: 1px !important;
        min-width: 70px;
        border: 1px solid #80808042;
    }
    .item.title a {
        border-bottom: none !important;
    }
    .item.title a:after {
        display: none !important;
    }
    .item.title.active {
        background: white !important;
        border: 1px solid #80808042 !important;
        border-bottom: none !important;
        border-top: 3px solid #0088cc !important;
    }
    .item.title:hover {
        border-color: #222529;
        color: #222529;
        background-color: #bbbbbb !important;
        border-color: #80808042 !important;
    }
}
.toolbar {
    background: none;
    padding-left: 0px;
}


/******************* MEDIA **********************/

@media (max-width: 767px) {
    .toolbar-sorter .product.data.items {
        display: flex;
    }
}