<div class="page-main-actions">
    <div data-mage-init='{"floatingHeader": {}}' class="page-actions"  data-ui-id="page-actions-toolbar-content-header" >
        <button id="back" title="Back" type="button" class="action-default scalable back" onclick="setLocation('<?php echo $this->getBackUrl(); ?>')"  data-ui-id="adminhtml-order-edit-reception-import-back-button" >
            <span><?php echo __('Back'); ?></span>
        </button>
        <button id="save" title="save" type="button" class="action-default scalable primary" onclick="jQuery('#edit_form').submit();this.disabled = true;"  data-ui-id="adminhtml-order-edit-reception-import-import-button" >
            <span><?php echo __('Import'); ?></span>
        </button>
    </div>
</div>

<form method="POST" name="edit_form" id="edit_form" action="<?php echo $this->getSubmitUrl(); ?>" enctype="multipart/form-data">

    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
    <input type="hidden" name="po_id" value="<?php echo $this->getPoId(); ?>">

    <br/>
    <br/>
    <p><h2><?php echo __('Use this section to import the current PO reception data from a CSV file'); ?></h2></p>
    <p><b><?php echo __('File to import'); ?> :</b>
        <p>
            <input type="file" name="import_file">
        </p>
    </p>
    <br/>
    <p><b><?php echo __('Field delimiter'); ?> :</b>
        <p>
            <select name="delimiter">
                <option value=";">;</option>
                <option value=",">,</option>
            </select>
        </p>
    </p>
    <br/>
    <p><b>Specifications :</b></p>

    <ul style="margin-left: 50px;">
        <li><b>File format :</b> CSV</li>
        <li><b>Columns :</b>
            <ul style="margin-left: 50px;">
                <?php echo $this->getColumnsHtml(); ?>
            </ul>
        </li>
    </ul>

</form>