<?php
// get current product data
$product = $block->getProduct();
?>

<style>
    .product-gallery-tab img {
        height: 200px;
        width: 200px;
        padding: 5px;
        object-fit: contain;
    }
</style>

<div class="product-gallery-tab">
    <?php foreach ($product->getMediaGalleryImages() as $_image): ?>
    <a class="fancybox" rel="gallery1" href="<?= $_image->getUrl(); ?>">
        <img src="<?= $_image->getUrl(); ?>" alt="" />
    </a>
    <?php endforeach; ?>
</div>

<script type="text/javascript">
    require(['jquery','fancybox'], function($) {
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect	: 'none',
                closeEffect	: 'none'
            });
        });
    });
</script>
