<?php $currentWarehouseId =  $block->getCurrentWarehouse();?>
<section>
    <form id="manifest_create_form" action="<?php echo $block->getSubmitUrl() ?>" method="post">
        <input type="hidden" name="form_key" id="form_key" value="<?php echo $block->getFormKey(); ?>">
        <div>
            <div class="admin__field field required _required">
                <label class="label admin__field-label " for="carrier" ><span><?php echo  __('Carrier'); ?></span></label>
                <div class="admin__field-control control">
                    <select id="field-carrier" name="carrier" class="select admin__control-select" style="width: 55%">
                        <option value=""><?php echo __('Please select'); ?></option>
                        <?php foreach($block->getCarriers() as $key => $value): ?>
                            <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

            <div class="admin__field field required _required">
                <label class="label admin__field-label " for="warehouse" ><span><?php echo  __('Warehouse'); ?></span></label>
                <div class="admin__field-control control">
                    <select id="field-warehouse" name="warehouse_id" class="select admin__control-select" style="width: 55%">
                        <option value=""><?php echo __('Please select'); ?></option>
                        <?php foreach($block->getWarehouse() as $key => $value): ?>
                            <option value="<?php echo $key; ?>" <?php echo ($currentWarehouseId == $key)?'selected':''?>><?php echo $value; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

            <div class="admin__field field required _required">
                <label class="label admin__field-label " for="from_date" ><span><?php echo  __('From'); ?></span></label>
                <div class="admin__field-control control">
                    <input type="text" class="input-text required-entry admin__control-text" id="calendar_inputField" name="from_date" aria-required="true" >
                </div>
            </div>

            <div class="admin__field field required _required">
                <label class="label admin__field-label " for="shipments" ><span><?php echo  __('Shipments'); ?></span></label>
                <div class="admin__field-control control">
                    <button class="action-default scalable primary" id="search_shipments" data-search-shipments-url="<?php echo $this->getSearchShipmentsUrl(); ?>"><?php echo __('Search shipments')?></button>
                    <span id="result-shipments"></span>
                </div>
            </div>
        </div>
        <button class="action-default scalable primary" type="submit" style="float: right; margin-top: 3%;"><span><?php echo __('Create')?></span></button>
    </form>
</section>