<div class="page-main-actions">
    <div data-mage-init='{"floatingHeader": {}}' class="page-actions"  data-ui-id="page-actions-toolbar-content-header" >
        <button id="save" title="save" type="button" class="action-default scalable primary" onclick="jQuery('#edit_form').submit();"  data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Import'); ?></span>
        </button>
    </div>
</div>

<form method="POST" name="edit_form" id="edit_form" action="<?php echo $this->getSubmitUrl(); ?>" enctype="multipart/form-data">

    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">

    <p><?php echo __('Please select the file to import : '); ?> <input type="file" name="import_file"></p>
    <p><?php echo __('Field delimiter'); ?>
        <select name="delimiter">
            <option value=";">;</option>
            <option value=",">,</option>
        </select>
    </p>
    <p>&nbsp;</p>


    <p>Use this section to import Mass stock editor from a csv file</p>
    <p>Expected format :</p>

    <ul style="margin-left: 50px;">
        <li>File format : csv file</li>
        <li>Separator : semi-colon ";"</li>
        <li>Columns
            <ul style="margin-left: 50px;">
                <li>sku (mandatory)</li>
                <li>barcode </li>
            </ul>
        </li>
    </ul>





</form>