<script>
    var missingTranslation = '<?php echo __('missing'); ?>';
    var overTranslation = '<?php echo __('over'); ?>';
    var barcodeEnabledTranslation = '<?php echo __('Barcode scan enabled'); ?>';
    var unknownBarcodeTranslation = '<?php echo __('Unknown barcode'); ?>';
    var scannedTranslation = '<?php echo __('scanned'); ?>';
</script>

<div class="page-main-actions">
    <table border="0" cellpadding="5">
        <tr>
            <td>
                <span><?php echo __('<b>- Expected qty :</b> Magento qty when the stock take was created, in the stock take warehouse.'); ?></span>
            </td>
        </tr>
        <tr>
            <td>
                <span><?php echo __('<b>- Previously scanned qty :</b> Qty already scanned through this stock take'); ?></span>
            </td>
        </tr>
        <tr>
            <td>
                <span><?php echo __('<b>- Qty :</b> Qty scanned through the current scan. This qty will be added to the Scanned qty once the current scan has been saved.'); ?></span>
            </td>
        </tr>
    </table>
</div>

<div>
    <table border="0" width="100%">
        <tr>
            <td width="50%">
                <div id="div_message" style="font-size: 20px; font-weight: bold;"></div>
        </tr>
    </table>
</div>

<form method="POST" name="edit_form" id="edit_form" action="<?php echo $this->getSubmitUrl(); ?>">

    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
    <input type="hidden" name="location" value="<?php echo $this->getLocation(); ?>">

    <div class="admin__data-grid-wrap admin__data-grid-wrap-static">

        <table id="grid_stocktake_products" class="data-grid" id="cache_grid_table">
            <thead>
            <tr>
                <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Image'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Sku'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Name'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Expected Qty'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Previously scanned Qty'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Qty'); ?></span></th>
                <th class="data-grid-th  no-link col-cache_type"><span><?php echo __('Status'); ?></span></th>
            </tr>
            </thead>

            <tbody>
                <?php if ($this->canShowProducts()): ?>
                    <?php foreach($this->getItems() as $item): ?>
                        <input type="hidden" name="remaining_<?php echo $item->getId(); ?>" id="remaining_<?php echo $item->getId(); ?>" value="<?php echo $this->getPendingQty($item); ?>">
                        <input type="hidden" name="name_<?php echo $item->getId(); ?>" id="name_<?php echo $item->getId(); ?>" value="<?php echo $item->getstai_name(); ?>">

                        <tr id="tr_<?php echo $item->getId(); ?>">
                            <td class="a-center"><img src="<?php echo $this->getImageUrl($item); ?>" width="30"></td>
                            <td class="a-left"><a href="<?php echo $this->getProductUrl($item); ?>"><?php echo $item->getstai_sku(); ?></a></td>
                            <td class="a-left"><?php echo $item->getstai_name(); ?></td>
                            <td class="a-center"><?php echo $item->getstai_expected_qty(); ?></td>
                            <td class="a-center"><?php echo $item->getstai_scanned_qty(); ?></td>
                            <td class="a-center">
                                <input type="button" value="--" onclick="stockTakeScanner.qtyMini(<?php echo $item->getId(); ?>);" />
                                <input type="button" value="-" onclick="stockTakeScanner.qtyDecrease(<?php echo $item->getId(); ?>);" />
                                <input type="text" onkeyup="stockTakeScanner.qtyChanged();" name="products[<?php echo $item->getstai_sku(); ?>][scanned_qty]" id="qty_<?php echo $item->getId(); ?>" value="0" size="3">
                                <input type="button" value="+" onclick="stockTakeScanner.qtyIncrease(<?php echo $item->getId(); ?>);" />
                                <input type="button" value="++" onclick="stockTakeScanner.qtyMaxi(<?php echo $item->getId(); ?>);" />
                            </td>
                            <td class="a-center"><span id="cell_status_<?php echo $item->getId(); ?>"></span></td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
            </tbody>
        </table>
    </div>

</form>

<script>
    require(["advancedstock_stock_take_scanner"], function(){
        stockTakeScanner = new stockTakeScanner();
        stockTakeScanner.init('<?php echo $this->getProductInformationUrl(); ?>');
        <?php if ($this->canShowProducts()): ?>
            stockTakeScanner.productIds = <?php echo $this->getProductIdsJson(); ?>;
            stockTakeScanner.barcodes = <?php echo $this->getBarcodesJson(); ?>;
        <?php endif; ?>
        stockTakeScanner.qtyChanged();
    });
</script>

<audio id="audio_nok" src="<?php echo $this->getViewFileUrl('BoostMyShop_AdvancedStock::sound/wrong.mp3'); ?>" ></audio>
<audio id="audio_ok" src="<?php echo $this->getViewFileUrl('BoostMyShop_AdvancedStock::sound/correct.mp3'); ?>" ></audio>
