<?php
/**
 * Copyright © Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
?>
<?php /** @var Mageside\PriceHistory\Block\Adminhtml\System\Config\Fieldset\Hint $block */ ?>

<div class="mageside-hint">
    <img src="https://mageside.com/skin/frontend/rwd/mageside_shop/images/logo.png"/><br><br>
    <div class="content">
        <p>
            <strong class="module-name">
                <?= $block->getModuleName() ?> <?= $block->getVersion() ?>
            </strong>
            <?= __(' by') ?>
            <a target="_blank" href="https://mageside.com/">
                <strong>Mageside</strong>
            </a>
        </p>
        <p>
            <?= __('Your feedback for ') ?>
            <a href="<?= $block->getModulePage() ?>" target="_blank"><?php echo $block->getModuleName() ?></a>
            <?= __('is highly appreciated.') ?>
        </p>
        <p>
            <?= __('Found an issue? Need help? Got custom request? Please ') ?>
            <a href="https://mageside.com/contacts/" target="_blank"><?= __('Contact us') ?></a>.
        </p>
        <p>
            <?= __('You can check more extensions designed by our team in our ') ?>
            <a href="<?= $block->getExtensionsPage() ?>" target="_blank"><?= __('Store') ?></a>.
        </p>
    </div>
</div>