@font-face {
    font-family: 'luma-icons';
    src: url('../fonts/Luma-Icons.woff2') format('woff2'), url('../fonts/Luma-Icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

.no-background .navigation {
    background: none !important
}

.megamenu-preview-index .ves-megamenu {
    margin-top: 30px
}

.megamenu-preview-index .ves-vertical {
    max-width: 300px
}

.ves-megamenu.top-navigation .ves-navbar {
    display: none
}

.ves-megamenu>.block-title {
    margin: 0;
    text-align: center;
    padding: 10px;
    background: #333;
    color: #FFF
}

.ves-megamenu .navigation .drill-opener,
.ves-megamenu .navigation .opener {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
    text-align: center;
    font-family: 'luma-icons';
    z-index: 99;
    width: auto;
    height: auto;
    line-height: 50px;
    width: 50px
}

.ves-megamenu .navigation .mega-col {
    padding: 0
}

.ves-megamenu .navigation .carousel-control {
    top: 40%
}

.ves-megamenu .navigation .carousel-control.left,
.ves-megamenu .navigation .carousel-control.right {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    text-shadow: none;
    top: 45%;
    padding: 12px;
    position: absolute;
    background: #f5f5f5;
    color: #333;
    opacity: 1;
    line-height: 1.5em;
    width: auto;
    bottom: auto
}

.ves-megamenu .navigation .block-content {
    max-width: 100%;
    position: relative
}

.ves-megamenu .navigation .carousel-indicators {
    bottom: 0
}

.ves-megamenu .navigation .carousel-indicators>li {
    border: 1px solid #1979c3
}

.ves-megamenu .navigation .carousel-indicators>li.active {
    background-color: #1979c3
}

.ves-megamenu .navigation .product-items {
    padding: 10px;
    margin: 0
}

.ves-megamenu .navigation .item-before-content,
.ves-megamenu .navigation .item-after-content {
    float: left;
    width: 100%
}

.ves-megamenu .navigation .icon-top {
    line-height: 84px;
    width: 100%;
    height: 84px;
    text-align: center;
    background: #333;
    margin-bottom: 10px
}

.ves-megamenu .navigation .icon-top:hover {
    background-color: #5bd2ec
}

.ves-megamenu.ves-vertical .navigation .level0>a .cat-label {
    position: static;
    padding: 4px 6px
}

.ves-megamenu .feature-box-v3:hover .fbox-icon .icons {
    background: #ef2840;
    color: #fff
}

.ves-megamenu .feature-box-v3 .fbox-icon .icons {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 24px;
    width: 30px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial
}

.ves-megamenu .feature-box-v3 .fa:before {
    font-size: 30px
}

.ves-megamenu .feature-box-v3 a {
    background: #e8e8e8;
    border-left: 0;
    float: none;
    padding: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px
}

.ves-megamenu ul {
    list-style: none;
    padding: 0
}

.ves-megamenu .dynamic-items {
    padding: 0;
    width: 20%
}

.ves-megamenu .level0 ul {
    margin: 0;
    padding: 0
}

.ves-megamenu .level0 .megamenu-widget>.carousel>.products-grid .product-item {
    width: 100%
}

.ves-megamenu .level0 .megamenu-widget>.carousel .item {
    display: none
}

.ves-megamenu .level0 .megamenu-widget>.carousel .item.active {
    display: block
}

.ves-megamenu .level0 .submenu .nav-item>a {
    padding: 0 20px;
    line-height: 50px
}

.ves-megamenu .level0 .submenu .nav-item>a>.ves-caret {
    line-height: 50px
}

.ves-megamenu .navigation .level0 .submenu .block-products-list .product-item a {
    padding: 0
}

.ves-megamenu .navigation .level0 .submenu .block-products-list .product-item a:hover {
    background: none
}

.ves-megamenu .navigation .level0 .submenu .block-products-list .product-item .actions-secondary a {
    padding: 0;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.ves-megamenu .submenu-alignright>.submenu {
    right: 0;
    left: auto !important
}

.ves-megamenu .text-center {
    text-align: center
}

.ves-megamenu .pull-right {
    float: right
}

.ves-megamenu .pull-left {
    float: left
}

.ves-megamenu .cat-label {
    -webkit-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    color: #FFF;
    padding: 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    text-shadow: none;
    margin-left: 2px
}

.ves-megamenu .cat-label.cat-label-v1 {
    background-color: #5bd2ec
}

.ves-megamenu .cat-label.cat-label-v2 {
    background-color: #d52462
}

.ves-megamenu .cat-label.cat-label-v3 {
    background: #0cc485
}

.ves-megamenu .cat-label.pin-bottom:before {
    position: absolute;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    -webkit-transition: border-color 450ms ease-in-out;
    -o-transition: border-color 450ms ease-in-out;
    transition: border-color 450ms ease-in-out
}

.ves-megamenu .cat-label.cat-label-v1.pin-bottom:before {
    border-top-color: #5bd2ec
}

.ves-megamenu .cat-label.cat-label-v2.pin-bottom:before {
    border-top-color: #d52462
}

.ves-megamenu .cat-label.cat-label-v3.pin-bottom:before {
    border-top-color: #0cc485
}

.ves-megamenu .nav-item {
    position: relative
}

.ves-megamenu .nav-item>a {
    line-height: 50px
}

.ves-megamenu .nav-item.active>a {
    background: #333;
    color: #FFF
}

.ves-megamenu .submenu p>a {
    padding: 0
}

.ves-megamenu iframe,
.ves-megamenu video {
    max-width: 100%
}

.ves-megamenu .level0>a>.item-icon {
    margin-bottom: -5px
}

.ves-megamenu .onsale {
    padding: 3px 10px;
    background: #d52462;
    color: #FFF;
    margin-right: 5px
}

.ves-megamenu .new-icon {
    padding: 3px 10px;
    background: #0cc485;
    color: #FFF
}

.ves-megamenu .owl-carousel .owl-item {
    text-align: center
}

.ves-megamenu #contact-form {
    width: 100% !important
}

.ves-megamenu .drill-opener,
.ves-megamenu .drilldown-back,
.ves-megamenu .ves-navbar {
    display: none
}

.ves-megamenu.ves-daccordion .navigation,
.ves-megamenu.ves-mdrilldown .navigation,
.ves-megamenu.ves-ddrill .navigation {
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.ves-megamenu.ves-daccordion .navigation .level0>a .cat-label,
.ves-megamenu.ves-mdrilldown .navigation .level0>a .cat-label,
.ves-megamenu.ves-ddrill .navigation .level0>a .cat-label {
    position: static;
    padding: 4px 6px
}

.ves-megamenu.ves-daccordion.has-title .navigation,
.ves-megamenu.ves-mdrilldown.has-title .navigation,
.ves-megamenu.ves-ddrill.has-title .navigation {
    border-top: 0
}

.ves-navtoggle {
    display: none
}

#maincontent .cat-label:before {
    display: none
}

@media (min-width:768px) and (max-width:1024px) {
    .ves-megamenu .orgin-items>.mega-col>.dropdown-submenu>.submenu {
        position: static
    }
}

.drilldown {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 100% !important
}

.drilldown .navigation {
    background-color: #FFF
}

.drilldown .navigation.loaded>.dropdown-menu {
    width: 100% !important
}

.drilldown .navigation .subhover>.submenu {
    display: none
}

.drilldown .navigation>.dropdown-menu {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.drilldown .navigation .ves-caret {
    display: none
}

.drilldown .navigation .cat-label {
    position: static;
    margin: 0;
    padding: 4px 6px
}

.drilldown .navigation .nav-item {
    position: relative !important;
    float: left !important;
    width: 100%
}

.drilldown .navigation .nav-item>a {
    line-height: 50px;
    position: static;
    padding: 0 15px
}

.drilldown .navigation .nav-item>a span.drill-opener {
    border: 1px solid #e5e5e5;
    border-right: 0;
    display: none
}

.drilldown .navigation .mega-col {
    padding: 0
}

.drilldown .navigation .level0 {
    border-top-color: #e5e5e5
}

.drilldown .navigation .opener {
    display: none
}

.drilldown .navigation .drill-opener {
    background: #f0f0f0;
    position: absolute
}

.drilldown .navigation .drill-opener:before {
    content: "\e608"
}

.drilldown .navigation .drilldown-back {
    position: relative;
    top: 0;
    left: -1px;
    display: none
}

.drilldown .navigation .drilldown-back a {
    padding: 0;
    background: #f0f0f0;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    display: block;
    font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: -1px
}

.drilldown .navigation .drilldown-back a .drill-opener {
    position: absolute;
    left: 0;
    right: auto;
    display: block
}

.drilldown .navigation .drilldown-back a .drill-opener:before {
    content: "\e617"
}

.drilldown .navigation .drilldown-back a .drill-opener:after {
    display: none
}

.drilldown .navigation .drilldown-back a .current-cat {
    line-height: 50px;
    position: relative;
    z-index: 99
}

.drilldown .navigation .drilldown-back a .current-cat:before {
    display: none
}

.ves-megamenu .navigation .post-list .post-item a {
    padding: 0
}

.ves-megamenu .navigation .post-list .post-item .post-meta a {
    display: inline-block
}

.ves-megamenu .navigation .ves-post {
    text-align: left
}

.ves-megamenu .navigation .post-list .post-item .post-readmore a {
    background-color: #4db2ec;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px 12px;
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s
}

.ves-megamenu .navigation .post-list .post-item .addthis_default_style .at300b,
.ves-megamenu .navigation .post-list .post-item .addthis_default_style .at300bo,
.ves-megamenu .navigation .post-list .post-item .addthis_default_style .at300m {
    padding: 0 2px
}

@media only screen and (max-width:767px) {
    .navigation{
        padding-left: 15px;
        padding-right: 15px
    }
    .navigation {
        padding: 0
    }
    .navigation .parent .level-top {
        position: relative;
        display: block;
        text-decoration: none
    }
    .navigation .parent .level-top:after {
        -webkit-font-smoothing: antialiased;
        font-size: 42px;
        line-height: inherit;
        color: inherit;
        content: '\e622';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center
    }
    .navigation .parent .level-top:after {
        position: absolute;
        right: 7px;
        top: -8px
    }
    .navigation .parent .level-top.ui-state-active:after {
        content: '\e621'
    }
    .navigation {
        background: #f0f0f0;
        box-sizing: border-box
    }
    .navigation ul {
        margin: 0;
        padding: 0
    }
    .navigation li {
        margin: 0
    }
    .navigation a {
        display: block;
        padding-top: 10px;
        padding-right: 0;
        padding-bottom: 10px;
        padding-left: 15px
    }
    .navigation a,
    .navigation a:hover {
        color: #575757;
        text-decoration: none
    }
    .navigation .level0 {
        border-top: 1px solid #d1d1d1;
        font-size: 1.6rem
    }
    .navigation .level0>.level-top {
        font-weight: 700;
        padding: 8px 40px 8px 15px;
        text-transform: uppercase;
        word-wrap: break-word
    }
    .navigation .level0.active .all-category .ui-state-focus {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 0 8px;
        color: #333;
        padding-left: 7px;
        display: inline-block
    }
    .navigation .level0>.level1 {
        font-weight: 600
    }
    .navigation .level0.active>a:not(.ui-state-active),
    .navigation .level0.has-active>a:not(.ui-state-active) {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 0 8px;
        color: #333
    }
    .navigation .level0.active>a:not(.ui-state-active) span:not(.ui-menu-icon),
    .navigation .level0.has-active>a:not(.ui-state-active) span:not(.ui-menu-icon) {
        margin-left: -8px
    }
    .navigation li.level0:last-child {
        border-bottom: 1px solid #d1d1d1
    }
    .navigation .submenu>li {
        word-wrap: break-word
    }
    .navigation .submenu:not(:first-child) {
        font-weight: 400;
        line-height: 1.3;
        left: auto !important;
        overflow-x: hidden;
        padding: 0;
        position: relative;
        top: auto !important;
        transition: left .3s ease-out
    }
    .navigation .submenu:not(:first-child)>li>a {
        padding-left: 15px
    }
    .navigation .submenu:not(:first-child)>li:last-child {
        margin-bottom: 0
    }
    .navigation .submenu:not(:first-child) ul {
        display: block;
        padding-left: 15px
    }
    .navigation .submenu:not(:first-child) ul>li {
        margin: 0
    }
    .navigation .submenu:not(:first-child) ul>li a {
        color: #575757;
        display: block;
        line-height: normal
    }
    .navigation .submenu:not(:first-child).expanded {
        display: block !important;
        padding-right: 0;
        top: 0 !important
    }
    .navigation .submenu:not(:first-child) .active>a {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 0 8px;
        color: #333;
        padding-left: 7px
    }
    .navigation .submenu:not(:first-child) .level1.active>a {
        padding-left: 7px
    }
    .scroll-to-fixed-fixed {
        position: static !important;
        left: 0 !important;
        width: 100% !important
    }
    .ves-megamenu.ves-offcanvas .opener,
    .ves-megamenu.ves-maccordion .opener {
        display: block
    }
    .ves-megamenu .ves-navbar {
        display: block
    }
    .ves-megamenu>.navigation {
        background: #f8f8f8;
        float: left;
        width: 100%
    }
    .ves-megamenu>.navigation .level0 {
        border-top-color: rgba(0, 0, 0, 0.08)
    }
    .ves-megamenu>.navigation .nav-item {
        float: left !important;
        width: 100%
    }
    .ves-megamenu>.navigation .nav-item.active>a {
        color: #FFF
    }
    .ves-megamenu>.navigation .nav-item>a {
        padding: 0 10px;
        display: block;
        position: relative
    }
    .ves-megamenu>.navigation .nav-item>a.parent {
        padding-right: 54px
    }
    .ves-megamenu>.navigation .nav-item .item-content>.nav-dropdown {
        padding-left: 10px
    }
    .ves-megamenu .products-grid .product-item {
        width: 100%;
        text-align: center
    }
    .ves-megamenu .products-grid .product-item img {
        max-width: 100%;
        width: auto;
        float: none;
        margin-left: auto;
        margin-right: auto
    }
    .ves-megamenu .submenu {
        display: none;
        max-width: 100%;
        border: 0;
        width: 100% !important;
        margin: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .ves-megamenu .submenu .carousel-indicators {
        bottom: -20px
    }
    .ves-megamenu .submenu .carousel-indicators>li {
        width: 20px;
        height: 20px
    }
    .ves-megamenu .ves-caret {
        display: none
    }
    .ves-megamenu .drill-opener:before,
    .ves-megamenu .opener:before {
        content: "\e61c"
    }
    .ves-megamenu .opener.item-active {
        background-color: rgba(0, 0, 0, 0.05)
    }
    .ves-megamenu .opener.item-active:before {
        content: "\e60f"
    }
    .ves-megamenu .cat-label:before {
        display: none
    }
    .ves-megamenu .item-header,
    .ves-megamenu .item-content,
    .ves-megamenu .item-sidebar,
    .ves-megamenu .item-footer {
        width: 100% !important
    }
    .ves-megamenu .block-products-list .product-item {
        text-align: center
    }
    .ves-megamenu .block-products-list .product-item a {
        padding-left: 0
    }
    .ves-megamenu .owl-nav>a {
        position: absolute;
        padding: 16px;
        font-size: 41px;
        top: 50%;
        margin-top: -49px;
        background-color: rgba(255, 255, 255, 0.98);
        cursor: pointer;
        width: auto;
        z-index: 99;
        display: inline-block;
        *display: inline;
        zoom: 1;
        -webkit-transition: box-shadow .2s ease;
        -o-transition: box-shadow .2s ease;
        transition: box-shadow .2s ease;
        -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3)
    }
    .ves-megamenu .owl-nav>a.owl-left {
        left: 0;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -ms-border-radius: 0 4px 4px 0;
        -o-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0
    }
    .ves-megamenu .owl-nav>a.owl-right {
        right: 0;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -ms-border-radius: 4px 0 0 4px;
        -o-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px
    }
    .ves-megamenu .carousel-controls>a {
        position: absolute;
        padding: 16px;
        font-size: 41px;
        top: 50%;
        margin-top: -49px;
        background-color: rgba(255, 255, 255, 0.98);
        cursor: pointer;
        width: auto;
        z-index: 99;
        display: inline-block;
        *display: inline;
        zoom: 1;
        -webkit-transition: box-shadow .2s ease;
        -o-transition: box-shadow .2s ease;
        transition: box-shadow .2s ease;
        -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3)
    }
    .ves-megamenu .carousel-controls>a.owl-left {
        left: 0;
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -ms-border-radius: 0 4px 4px 0;
        -o-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0
    }
    .ves-megamenu .carousel-controls>a.owl-right {
        right: 0;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -ms-border-radius: 4px 0 0 4px;
        -o-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px
    }
    .ves-megamenu .carousel-controls .carousel-control.right,
    .ves-megamenu .carousel-controls .carousel-control.left {
        background: #FFF
    }
    .hide-blocks .item-header,
    .hide-blocks .item-sidebar,
    .hide-blocks .item-footer {
        display: none
    }
    .ves-navtoggle {
        display: block;
        background: #333
    }
    .ves-navtoggle:before {
        -webkit-font-smoothing: antialiased;
        font-size: 32px;
        line-height: inherit;
        color: #FFF;
        content: '\e609';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
        padding: 0 7px
    }
    .offcanvas-left>.navigation>ul {
        height: 100%;
        left: -80%;
        left: calc(-1 * (100% - 54px));
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(100% - 54px);
        background: #f0f0f0;
        z-index: 99;
        -webkit-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s
    }
    .ves-nav-before-open {
        height: 100%;
        width: 100%
    }
    .ves-nav-before-open .page-wrapper {
        -webkit-transition: left .3s;
        -moz-transition: left .3s;
        -ms-transition: left .3s;
        transition: left .3s;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: relative
    }
    .ves-nav-before-open body {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%
    }
    .ves-navopen .page-wrapper {
        left: 80%;
        left: calc(100% - 54px)
    }
    .ves-navopen .ves-moffcanvas>.navigation>ul {
        -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
        box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
        z-index: 99
    }
    .ves-navopen .ves-navtoggle:after {
        background: rgba(0, 0, 0, 0.01);
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1
    }
    .ves-nav-before-open {
        height: 100%;
        width: 100%
    }
    .ves-nav-before-open body {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%
    }
    .ves-nav-before-open .page-wrapper {
        -webkit-transition: left .3s;
        -moz-transition: left .3s;
        -ms-transition: left .3s;
        transition: left .3s;
        height: 100%;
        overflow: hidden;
        position: relative
    }
    .ves-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 80;
        top: 0;
        left: 0;
        z-index: 90
    }
    .ves-mdrilldown {
        position: relative;
        float: left;
        width: 100%;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        max-width: 100% !important
    }
    .ves-mdrilldown .navigation {
        background-color: #FFF
    }
    .ves-mdrilldown .navigation.loaded>.dropdown-menu {
        width: 100% !important
    }
    .ves-mdrilldown .navigation .subhover>.submenu {
        display: none
    }
    .ves-mdrilldown .navigation>.dropdown-menu {
        display: block;
        position: static;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .ves-mdrilldown .navigation .ves-caret {
        display: none
    }
    .ves-mdrilldown .navigation .cat-label {
        position: static;
        margin: 0;
        padding: 4px 6px
    }
    .ves-mdrilldown .navigation .nav-item {
        position: relative !important;
        float: left !important;
        width: 100%
    }
    .ves-mdrilldown .navigation .nav-item>a {
        line-height: 50px;
        position: static;
        padding: 0 15px
    }
    .ves-mdrilldown .navigation .nav-item>a span.drill-opener {
        border: 1px solid #e5e5e5;
        border-right: 0;
        display: none
    }
    .ves-mdrilldown .navigation .mega-col {
        padding: 0
    }
    .ves-mdrilldown .navigation .level0 {
        border-top-color: #e5e5e5
    }
    .ves-mdrilldown .navigation .opener {
        display: none
    }
    .ves-mdrilldown .navigation .drill-opener {
        background: #f0f0f0;
        position: absolute
    }
    .ves-mdrilldown .navigation .drill-opener:before {
        content: "\e608"
    }
    .ves-mdrilldown .navigation .drilldown-back {
        position: relative;
        top: 0;
        left: -1px;
        display: none
    }
    .ves-mdrilldown .navigation .drilldown-back a {
        padding: 0;
        background: #f0f0f0;
        text-align: center;
        font-size: 1.3em;
        text-transform: uppercase;
        display: block;
        font-weight: normal;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: -1px
    }
    .ves-mdrilldown .navigation .drilldown-back a .drill-opener {
        position: absolute;
        left: 0;
        right: auto;
        display: block
    }
    .ves-mdrilldown .navigation .drilldown-back a .drill-opener:before {
        content: "\e617"
    }
    .ves-mdrilldown .navigation .drilldown-back a .drill-opener:after {
        display: none
    }
    .ves-mdrilldown .navigation .drilldown-back a .current-cat {
        line-height: 50px;
        position: relative;
        z-index: 99
    }
    .ves-mdrilldown .navigation .drilldown-back a .current-cat:before {
        display: none
    }
    .ves-mdrilldown .navigation .drill-opener {
        display: block
    }
    .ves-mdrilldown .navigation .nav-item>a span.drill-opener {
        display: block;
        position: absolute;
        top: 0;
        right: 0
    }
    .ves-mdrilldown .navigation .drilldown-back {
        display: block
    }
    .ves-mdrilldown .navigation .drilldown-back>a>.drill-opener {
        line-height: 50px;
        width: 50px
    }

    .navigation .parent .level-top:after {
        font-size: 1.6rem;
        right: 10px;
        top: 7px
    }

    /*fix issue section item on safari-mobile*/
    .nav-sections-items {
        position: relative!important;
    }
}
